$light:#fff;
$dim:#f6f9f9;
$primary:#2f79ac;
$secondary:#3398d8;
$muted:#333e55;
$gray:#aeaeae;
$shade:#5b6373;
$map : ("lightest" : 100, "light":300, "muted": 400, "medium": 500, "regular":600, "bold":800 );
